@import "http://webfonts.ru/import/badscript.css";

body {
    font-family: 'Bad Script', sans-serif;
    padding-top: 150px;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.component-header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.help-text{
    text-align: center;
    color: grey;
    display: block;
}

nav {
    text-align: center;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted #1a841c;
}

nav a.active {
    border-bottom: 2px solid #1a841c;
}