@import "http://webfonts.ru/import/badscript.css";

body {
    font-family: 'Bad Script', sans-serif;
    padding-top: 150px;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.component-header {
    display: block;
    margin: 0 auto;
    text-align: center;
}