.hello-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hello-message input{
    display: block;
    width: 200px;
    text-align: center;
}
